{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": 0,
		"new-cap": [2, {
			"capIsNewExceptions": [
				"Get",
				"HasProperty",
				"RequireObjectCoercible",
				"ToIntegerOrInfinity",
				"ToLength",
				"ToObject",
				"ToString",
			],
		}],
		"no-magic-numbers": [1, {
			"ignore": [-1, 0, 1],
		}],
	},
}
